@import "../../styles/_variables";

.siderbar {
  border: 1px solid $enclave_green;

  .study-list-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $enclave_white;
    padding-top: 17px;

    .study-list-logo-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      border-radius: 50%;
      background-color: $enclave_green;
    }
  }

  .sidebar-header {
    color: $enclave_white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(15px);
    font-size: large;
    background-color: $enclave_green;
    padding: 10px 0;;
  }

  .menu-bar {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
  }
}

.sub-menu-bar {
  max-height: 40vh;
  overflow-y: auto;
}

.search-content {
  background-image: url(../../assets/Image/background_in_space.gif);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  padding-top: 15vh;
  height: 100vh;

  .search-content-header {
    color: $enclave_white;
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .search-content-footer {
    color: $enclave_white;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: $enclave_green_light;
  }
  .search-box-wrapper {
    width: 30vw;
    .search-box-input {
      .ant-input-search-button {
        background-color: $enclave_green;
      }
      .ant-input-search-button:hover {
        background-color: $enclave_green_light;
      }
    }
  }
}

.question-content {
  background-color: $enclave_white_light;
}

//overide menu color
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-light > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: $enclave_green;
}