@import "../../styles/_variables";

.home-page {
  background-image: url(../../assets/Image/background_in_space.gif);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search-content-header {
    color: $enclave_white;
    font-size: 3.5rem;
  }
  .search-content-footer {
    color: $enclave_white;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: $enclave_green_light;
  }
}